@import "~bootstrap/dist/css/bootstrap.min.css";

:root{
  --orange: #ee7d21;
  --blue: #21336a;
}
/* 
body{
  background-color: var(--orange);
} */

.text-orange{
  color: var(--orange)!important;
}

.dropdown-divider{
  border-top: 1px solid white!important;
  border-radius: 2px;
}

.text-blue{
  color: var(--blue)!important;
}

.nav-tog{
  display: none;
}

.avatar{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: white;
  color: var(--blue);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 7px;
  margin: 0 10px;
  box-sizing: content-box;
}

.foot a:not(.no-hover):hover{
  color: var(--orange)!important;
  transition: 0.2s;
}
.foot a:not(.no-hover):not(:hover){
  color: white!important;
  transition: 0.2s;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: var(--blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  /* box-shadow: 0 0 0 5px #ffffff80; */
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 40px;
  fill: white;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1);
  /* box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); */
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 20px;  */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: var(--blue);
  color: white;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 700;
}

.card:hover svg {
  transform: scale(0);
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: white;
  font-weight: 800;
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.foot .border-top{
  border-top: 2px solid white!important;
}

.navbar-collapse a:not(.no-hover):hover{
  color: var(--orange)!important;
  transition: 0.2s;
}
.navbar-collapse a:not(.no-hover):not(:hover){
  color: white!important;
  transition: 0.2s;
}

.dropdown-menu a:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

.foot *{
  color: white!important;
  font-weight: 500;
}


.foot h1, .foot h5{
  font-weight: 900;
}

.navbar{
  position: sticky!important;
  top: 0!important;
  z-index: 1000;
}

.contact svg{
  width: 20px;
}

.nav-item{
  display: flex;
  align-items: center;
}

@keyframes square-animation {
  0% {
   left: 0;
   top: 0;
  }
 
  10.5% {
   left: 0;
   top: 0;
  }
 
  12.5% {
   left: 32px;
   top: 0;
  }
 
  23% {
   left: 32px;
   top: 0;
  }
 
  25% {
   left: 64px;
   top: 0;
  }
 
  35.5% {
   left: 64px;
   top: 0;
  }
 
  37.5% {
   left: 64px;
   top: 32px;
  }
 
  48% {
   left: 64px;
   top: 32px;
  }
 
  50% {
   left: 32px;
   top: 32px;
  }
 
  60.5% {
   left: 32px;
   top: 32px;
  }
 
  62.5% {
   left: 32px;
   top: 64px;
  }
 
  73% {
   left: 32px;
   top: 64px;
  }
 
  75% {
   left: 0;
   top: 64px;
  }
 
  85.5% {
   left: 0;
   top: 64px;
  }
 
  87.5% {
   left: 0;
   top: 32px;
  }
 
  98% {
   left: 0;
   top: 32px;
  }
 
  100% {
   left: 0;
   top: 0;
  }
 }
 
 .loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
 }
 
 .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
 }
 
 .loader-square:nth-of-type(0) {
  animation-delay: 0s;
 }
 
 .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
 }
 
 .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
 }
 
 .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
 }
 
 .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
 }
 
 .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
 }
 
 .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
 }
 
 .loader-square:nth-of-type(7) {
  animation-delay: -10s;
 }

@media screen and (max-width: 991px){
  .navbar-collapse:not(.show){
    display: none!important;

  }
  .navbar-collapse.show{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .nav-tog{
    display: block;
    cursor: pointer;
    border: none;
    background: none;
  }

  .navbar-toggler-icon{
    background: none;
    width: 30px;
    height: 30px;
  }

  .dropdown-menu{
    width: 100%;
    text-align: left!important;
    box-shadow: none!important;
    margin: 0!important;
    padding: 0!important;;
    margin-left: 40px!important;
  }
  .dropdown-divider{
    display: none;
  }
  
}